@font-face {
	font-family: 'UnifontCSURMedium';
	src: url('/fonts/gnu-unifont/UnifontCSURMedium.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'UnifontMedium';
	src: url('/fonts/gnu-unifont/UnifontMedium.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'UnifontSampleMedium';
	src: url('/fonts/gnu-unifont/UnifontSampleMedium.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'UnifontUpperMedium';
	src: url('/fonts/gnu-unifont/UnifontUpperMedium.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
