body {
	padding-bottom: 10vh;
}

pre {
	margin-top: 1.5vh;
	border-style: solid;
	border-width: 1px;
	border-radius: 5px;
	width: auto;
	padding: 2vh;
}

p > code {
	font-size: 3vh;
	background-color: #444;
}

