* {
	margin: 0px;
	padding: 0px;
}

body {
	background-color: #222;
}

a {
	color: #eee;
	text-decoration: none;
	outline: none;
}

h1 {
	font-size: 8vh;
}

h3 {
	margin-top: 3.2vh;
}

p {
	margin-top: 1.2vh;
}

ul {
	width: 60%;
	margin-top: 3vh;
	margin-left: auto;
	margin-right: auto;

	list-style-type: none;
	color: #eee;
	font-family: "Courier New", Courier, monospace;
}

article {
	width: 60%;
	margin-top: 3vh;
	margin-left: auto;
	margin-right: auto;

	color: #eee;
	font-family: "Courier New", Courier, monospace;
}

.index-sections {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
}

.index-section {
	width: 20vh;
	height: 20vh;
	margin: 6vh;

	font-family: "Courier New", Courier, monospace;
	color: #eee;
	background-color: #333;

	border-style: solid;
	border-width: 2vh;
	border-color: #333;
	border-radius: 1.5vh;
}

.index-section-title {
	font-size: 4vh;
}

.index-section-subtitle {
	font-size: 2vh;
}

.ascii_art {
	color: #eee;
	padding: 20px 0;
	font-size: 1.6vh;
}

.logo {
	display: flex;
	justify-content: center;
}

#header {
	width: 100%;
	height: 12vh;

	background-color: #333;
}

#profile_pic {
	width: 10vh;
	height: 10vh;

	padding-left: 1vh;
	padding-top: 1vh;

	border-radius: 100px;
}

@media screen and (max-width: 800px) {
	article {
		width: 90%;
	}
	
	h1 {
		font-size: 7vh;
	}

	.index-section {
		margin: 2vh;
	}
}
